<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo"><a class="nav__linklogo" routerLink="/home">VINYL RECORDS</a></div>
            <nav class="nav">
                <a class="nav__link1" href="" routerLink="/">ПЛАСТИНКИ</a>
                <a class="nav__link1" href="#">ПРОИГРЫВАТЕЛИ</a>
                <a class="nav__link1" href="#">ДОСТАВКА И ОПЛАТА</a>
                <a class="nav__link1" href="#">О НАС</a>
                <a class="nav__link1" href="#">КОНТАКТЫ</a>
            </nav>
            <a class="number" href="">+7 (928) 768-32-39</a>
            <a class="basket" href=""><i class="fa-solid fa-basket-shopping"></i></a>
        </div>
    </div>
</header>