<style>
    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<main id="id_main">
    <section class="container_first">
        <div class="intro">
            <h1 class="intro__title">Магазин <br>виниловых <span class="rostov__text">пластинок</span></h1>
            <h2 class="intro__text">Огромный ассортимент винила на любой вкус. <br>От классики до современных
                хип-хоп альбомов.<br>Погрузитесь в мир атмосферной и качественной музыки </h2>
            <div class="battons_grupp">
                <a id="button__calculate" href="" routerLink="/">ПЕРЕЙТИ К ПОКУПКАМ</a>
                <a class="button__submit" href="">Личный кабинет</a>
            </div>
        </div>
    </section>

    <section class="completed__projects">
        <div class="container__second">
            <div class="map__inner">
                <div class="img_map">
                    <!-- <img class="map" src="assets/img/map.png"> -->
                    <div style="position:relative;overflow:hidden;"><a
                            href="https://yandex.ru/maps/43/kazan/?utm_medium=mapframe&utm_source=maps"
                            style="color:#eee;font-size:12px;position:absolute;top:0px;">Казань</a><a
                            href="https://yandex.ru/maps/43/kazan/house/spartakovskaya_ulitsa_2/YEAYdwVoSEcBQFtvfXt2eHhkYA==/?indoorLevel=1&ll=49.128126%2C55.779474&utm_medium=mapframe&utm_source=maps&z=16.59"
                            style="color:#eee;font-size:12px;position:absolute;top:14px;">Спартаковская улица, 2 —
                            Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUjAFeGhD" width="750"
                            height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                    </div>
                </div>
                <div class="shop">
                    <p class="shop_title"> Вы всегда можете посетить наш магазин и прослушать выбранные пластинки
                        <span class="VIP"><b>лично.</b></span>
                        <br>Обратившись в наш магазин в Казани, вы сможете купить
                        отличный подарок
                        для друзей или родных. <br>Богатый ассортимент позволит подобрать сборник в соответствии с
                        вкусовыми
                        предпочтениями адресата.
                    </p>
                </div>

            </div>

            <!-- <div class="adress">
                <a class="header__logo"
                    href="https://2gis.ru/kazan/inside/2956122910647361?m=49.126788%2C55.7797%2F18">г.Казань,
                    ул. Спартаковская 2</a>
            </div> -->
        </div>
    </section>

</main>